body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;
}


.main{
    display: flex;
    width: 70%;
}
.main .photo-whether{
    background-image: url("../img/mountainjpeg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: calc(10px + 825 * (100vw / 1920));
    position: relative;
}
.main .photo-whether .nav{
    position: absolute;
    z-index: 5;
    bottom: 0;
    background-color: rgba(44, 51, 108, 0.8);
    width: 100%;
    height: 30%;
}
.main .photo-whether .time-and-date .time{
    font-size: calc(10px + 60 * (100vw / 1920));
    color: white;
    position: absolute;
    top: calc(10px + 100 * (100vw / 1920));
    left: calc(10px + 100 * (100vw / 1920));
}
